{% extends 'module/base.html' %}
{% block script %}
{% endblock %}
{% block body %}
    <title>GoGoodsMarket後台管理</title>
    <div id="contact" class="container">

        <h3 class="text-center">GoGoodMarket後台管理</h3>
        <table class="table table-hover">
            <tr><th style="text-align: center"><a href="buyer/">買家會員管理</a></th></tr>
            <tr><th style="text-align: center"><a href="vendor/">商家會員管理</a></th></tr>
{#            <tr><th style="text-align: center"><a href="trans/">交易紀錄</a></th></tr>#}
        </table>
    </div>
{% endblock %}