{% extends 'module/base.html' %}

{% block script %}
{% endblock %}

{% block body %}
    <div id="contact" class="container">
        <h3 class="text-center">Bonus = {{ bonus }}</h3>

        <div class="bs-example bs-example-tabs">
            <ul id="myTab" class="nav nav-tabs">
                <li class="active">
                    <a href="#trans" id="trans-tab" data-toggle="tab" aria-controls="general"
                       aria-expanded="true">交易紀錄</a>
                </li>
            </ul>
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade in active" id="trans" aria-labelledby="trans-tab" data-status="general">
                    {% include 'member/buyer/transList.html' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}